*
!alien_system.py
!alien_system_es.py
!alien_dyslexia.py
!test_alien.py
!test_alien_es.py
!test_alien_dyslexia.py
!test_fixes.py
!README.md
!LICENSE
!CONTRIBUTING.md
!CHANGELOG.md
!SECURITY.md
!.gitignore
